<ion-view view-title="欠条说明">      
    <ion-content class="loan"> 

        <div class="iou-content">
       
            <div class="header">
                <div class="head-txt">
                    <p class="title">欠条说明</p>
                    <p class="txt">欠条可以将平台外产生的债务记录在借贷宝平台上，享受电子记账，立体催收，委托诉讼等。</p>
                </div>
            </div>

            <div class="content">
                <div class="intro">
                    <p class="tip">流程介绍</p>
                </div>

                <div class="part-one">
                    <div class="img-one">
                        <img class="dot-one" src="./images/dot1.png">
                        <img class="pic-one" src="./images/pic1.png">
                    </div>
                    <div class="txt-one">
                        <div class="num">
                            <p class="radius">1</p>
                        </div>
                        <div class="txt">
                            <p>欠款人因赊账或其他原因欠下一笔钱</p>
                        </div>  
                    </div>
                </div>

                <div class="part-two">
                    <div class="img-two">
                        <img class="dot-two" src="./images/dot2.png">
                        <img class="pic-two" src="./images/pic2.png">
                    </div>
                    <div class="txt-two">
                        <div class="num">
                            <p class="radius">2</p>
                        </div>
                        <div class="txt">
                            <p>欠款人填写欠条信息向债权人打欠条</p>
                        </div>  
                    </div>
                </div>

                <div class="part-three">
                    <div class="img-three">
                        <img class="dot-three" src="./images/dot3.png"/>
                        <img class="pic-three" src="./images/pic3.png"/>
                    </div>
                    <div class="txt-three">
                        <div class="num">
                            <p class="radius">3</p>
                        </div>
                        <div class="txt">
                            <p>债权人确认欠条，生成具有法律效应的电子合同</p>
                        </div>  
                    </div>
                </div>

                <div class="part-four">
                    <div class="img-four">
                        <img class="dot-four" src="./images/dot4.png">
                        <img class="pic-four" src="./images/pic4.png">
                    </div>
                    <div class="txt-four">
                        <div class="num">
                            <p class="radius">4</p>
                        </div>
                        <div class="txt">
                            <p>欠条到期后，平台提醒欠款人通过借贷宝进行还款</p>
                        </div>  
                    </div>
                </div>

            </div>

            <div class="footer">
                <div class="heart">
                    <p class="tip">温馨提示</p>
                </div>
                <div class="txt">
                    <p>欠条生效过程中，债权人并不会在平台上出借资金给欠款人</p>
                </div>
            </div>

        </div>

        
    </ion-content> 
    
</ion-view> 